:root {
    --clrTitle: #4F4E4E;
    --clrText: #606060;
    --clrBtn: #C2C1C1;
    --clrHeader: #FFFFFF;
    --clrHeaderBG: #292929;
    --clrBlack: #131313;
    --clrBorder: #707070;
    --clrPages: #818181;
    --clrGreen: #58C93A;
    --clrLayout: #E1E0E0;
    --clrFootrBG: #F8F8F8;
}
