footer{
    background-color: var(--clrFootrBG);
    height: 315px;
    text-align: center;
    font-size: 0.8125rem;
}

footer .symbol{
    color: var(--clrHeaderBG);
    margin: 0;
    padding-top: 3.875rem;
}

.foot-text{
    margin-top: 1.66875rem;
}

footer a{
    font-family: lato-bold, serif;
}

.foot-signs{
    margin-top: 2.33125rem;
}

.foot-signs > * :not(first-child){
    margin-left: 1.25rem;
}

.icon{
    width: 40px;
    opacity: 0.3;
}

.icon:hover{
    opacity: 1;
}